h1{
  position: relative;
  top: -50px;
  width: 100%;
  font-size: 100px;
  font-weight: 100;
  text-align: center;
  color: rgba(175, 47, 47, 0.15);
  line-height: 0.01em;
}

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

li {
   width: 100%;
   text-align: center;
   list-style-type: none;
}
li span{
  color: white
}
form {
    display: inline;
}

input[type=submit] {
 display: none;
}

input[type=text] {
  width: 35%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  padding: 12px 20px 12px 40px;
}
